.human-resource-calendar-goup .title {
  padding-left: 5px;
  font-size: 14px;
  color: black;
}

.human-resource-calendar-goup {
  padding-left: 5px;
}

.human-resource-calendar-goup:hover {
  text-decoration: none;
}
