.ant-card.user-card {
  margin-bottom: 10px;
}

.ant-list.user-details-list {
  margin-top: 20px;
}

.human-resource-details__grid {
  padding: 10px;
}

.vacation-item {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.vacation-item-description {
  padding-left: 10px;
  flex-basis: 70%;
}
