.timetable {
  .timetable-title {
    font-weight: bold;
  }

  .timetable-date {
    font-weight: 200;
    text-align: center;
    position: relative;
    height: 30px;
  }

  .timetable-user {
    display: flex;
    justify-content: flex-start;
    padding-right: 5px;

    a {
      color: black;
      white-space: nowrap;
    }
  }

  .timetable-cell {
    min-width: 30px;
    border: 2px solid #f0f2f5;
    cursor: pointer;
    background-color: lightgray;

    &:hover {
      transform: scale(1.3);
      z-index: 2;
      transition: 0.2s;
      box-shadow:inset 0 0 0 2px white;
      border-bottom: 2px solid;
      border-top: 2px solid;
    }

    &.holiday {
      background-color: #fadb14;
    }

    &.vacation {
      background-color: rgba(142, 195, 81, 1);

      &.not-approved {
        background-color: rgba(142, 195, 81, 0.5);
      }
    }

    &.sick {
      background-color: #f5222d;
      color: white;
      text-align: center;

      &.not-approved {
        background-color: #ff7875;
      }
    }

    &.dayon {
      background-color: rgba(106, 90, 205, 1);

      &.not-approved {
        background-color: rgba(106, 90, 205, 0.5);
      }
    }

    &.personal {
      background-color: rgba(250, 128, 114, 1);

      &.not-approved {
        background-color: rgba(250, 128, 114, 0.5);
      }
    }

    &.weekend {
      background-color: #ffa7ac;
    }
  }

  .timetable-info {
    min-width: 25px;
    text-align: center;
    background-color: lightgray;
    border: 2px solid #f0f2f5;
  }

  .today {
    font-weight: 700;
  }

  .last-day-of-month {
    border-right: 2px solid #595959;
  }

  .title {
    padding-left: 10px;
  }

  tr:nth-of-type(1) {
    td {
      border-top: none;
    }
  }

  tr:nth-last-of-type(1) {
    td {
      border-bottom: none;
    }
  }
}
