.timetable {
  position: relative;
  overflow: hidden;
  z-index: 1;

  .timetable-title {
    font-weight: bold;

    &__month {
      position: relative;
      z-index: 10000;
    }
  }

  .timetable-date {
    font-size: 10px;
    font-weight: 200;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: 1000;
      height: 100%;
      left: 1px;
      bottom: calc(100% - 1px);
      box-shadow: 0 0 0 1.6px #f0f2f5;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1000;
      height: 100%;
      left: calc(100% - 0.6px);
      bottom: calc(100% - 1px);
      box-shadow: 0 0 0 1.6px #f0f2f5;
    }
  }

  .timetable-user {
    width: 150px;
    height: 20px;
    padding: 0 5px;
    border: 2px solid grey;

    a {
      color: black;
      white-space: nowrap;
    }
  }

  .timetable-cell {
    width: 25px;
    height: 25px;
    border: 2px solid grey;
    position: relative;

    &.holiday {
      background-color: #fadb14;
    }

    &.vacation {
      background-color: rgba(142, 195, 81, 1);

      &.not-approved {
        background-color: rgba(142, 195, 81, 0.5);
      }
    }

    &.sick {
      background-color: rgba(255, 255, 255, 1);
      color: darkred;
      text-align: center;

      &.not-approved {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &.dayon {
      background-color: rgba(106, 90, 205, 1);

      &.not-approved {
        background-color: rgba(106, 90, 205, 0.5);
      }
    }

    &.personal {
      background-color: rgba(250, 128, 114, 1);

      &.not-approved {
        background-color: rgba(250, 128, 114, 0.5);
      }
    }

    &.weekend {
      background-color: #ffa7ac;
    }
  }

  .timetable-info {
    min-width: 25px;
    height: 25px;
    border: 2px solid grey;
    text-align: center;
  }

  .select-row:hover {
    position: relative;
    th::before {
      content: "";
      width: 10000px;
      height: 0;
      position: absolute;
      left: 0;
      z-index: 4;
      box-shadow: 0 -1px 0 1.5px black;
    }

    th::after {
      content: "";
      width: 10000px;
      height: 0;
      position: absolute;
      left: 0;
      z-index: 4;
      box-shadow: 0 1px 0 1.5px black;
    }
  }

  .timetable-cell {
    &:hover::before {
      content: "";
      height: 10000px;
      left: 0;
      position: absolute;
      top: -5000px;
      width: 0;
      z-index: 4;
      box-shadow: 0 0 0 1.5px black;
    }

    &:hover::after {
      content: "";
      height: 10000px;
      left: 100%;
      position: absolute;
      top: -5000px;
      width: 0;
      z-index: 4;
      box-shadow: 0 0 0 1.5px black;
    }
  }

  .avatar {
    .ant-popover-inner-content {
      padding: 0;
    }

    .ant-avatar {
      border-radius: 0;
    }
  }
}
