package io.easybreezy.migrations

import io.easybreezy.migrations.extensions.execute
import org.flywaydb.core.api.migration.BaseJavaMigration
import org.flywaydb.core.api.migration.Context

class $MIGRATION_NAME : BaseJavaMigration() {
    override fun migrate(context: Context) {
        TODO("not implemented")
    }
}
